img{
    width: 500px;
    height: 70;
}
body{
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("KPZGQrc.jpg"); /* correct syntax */
    background-size: cover;   /* optional: makes image cover whole area */
    background-repeat: no-repeat; /* optional: prevents tiling */
    background-position: center;  /* optional: centers the image */
    color: white;
}

  .header-container{
    display: flex;
    text-align: center;     
  }
  h1{
    font-size: 75px;
     transition: transform 1s ease; 
}
h1:hover {
    transform: rotate(360deg); 
  }
.flex-container {
display: flex;
gap: 100px;            
}
.flex-container img {
  width: 500px;
   border-radius: 10px;
}

.flex-container p1.b {
font-size: 30px;
white-space: normal;
font-family: 'Courier New', Courier, monospace;
word-spacing: 4.5px;
}
p{
  font-family: sans-serif;
    text-align: center;
    font-size: 30px;
}.footer-container  img{

display: flex;
justify-content: center; /* horizontal center */
align-items: center;     /* vertical center */

}.footer-container  img{
    display: block;
    width: 650px;
    height: 70;
    margin: auto;
}


